@import "tailwindcss";
@plugin "daisyui";

/* import "@pqina/pintura/pintura.css"; */

@theme {
    --color-primary: #615fff;
    --color-primary-content: #fff;

    --color-base: #213555;
    --color-base-light: #DBE2EF;
    --color-extra-base: #CDE8E5;
}